@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.wrapper .first-text {
    font-size: 60px;
    color: #fff;
}

.wrapper .sec-texts {
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}

.sec-texts li {
    position: relative;
    top: 0;
    color: rgb(85, 85, 85);
    list-style: none;
    padding: 0 20px;
    animation: slide 12s steps(4) infinite;
}

@keyframes slide {
    100% {
        top: -360px;
    }
}

@keyframes colorful {
    100% {
        filter: hue-rotate(360deg);
    }
}

.sec-texts li span {
    position: relative;
}

.sec-texts li span::before {
    content: '';
    position: absolute;
    left: 0;
    width: 600px;
    height: 90px;
    background: white;

    animation: typing 1.5s steps(40) infinite alternate;
}

@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}